<!DOCTYPE html>
<html>
<head>
  <title>Terms and Conditions Page</title>
</head>
<body>
<app-header ></app-header>
<div style="height: 40%;background-color: white;">

  <div style="padding-left: 07%; background-color: white;width: 39%;float: left;">
    <h3 style="font-size: 126px;">THE <BR> BLOG</h3>
    <img src="src\assets\hh.png" style="width: 98%;height: 318px;border-radius: 4px;">


  </div>

  <div style="background-color:white;border-radius: 20px;box-sizing: border-box;width: 27%;float: left;margin-top: 39%">
    <p style="font-size: 16px;">Monday 12 April 2021</p>
    <p style="font-size: 38px;">Creativity is nothing but creativity yeah that's it</p>
    <p style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Curabitur cursus tincidunt commodo. Nunc justo nisi,
      vestibulum facilisis porta vestibulum, ultrices volutpat
      arcu. Quisque nec dui mattis, fringilla magna in,
      vulputate enim. Fusce ut euismod ligula, id laoreet ex.</p>
  </div>
  <div style="background-color: blue;height: 100%;width: 100%;">
    <div class="bggh" style="width: 26%; background-color: rgb(247, 12, 12); margin-right: 3%; margin-top: 11%;height: 364px;border-radius: 30px;float: right;">
      <img src="assets/hh.png">
      <h3 style="color: coral;font-weight: bold;margin-top: -7%;
                padding-left: 5%;font-size: 21px;">Monday 12 April 2021</h3>
      <p style="color: coral;font-size: 31px;
                padding-left: 3%;
                margin-top: -5%;">Creativity is nothing but creativity yeah that's it.</p>
      <p style="color: aquamarine;font-size: 16px;margin-left: 3%;
                margin-top: -3%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex</p>


    </div>
    <div class="bggh" style="width: 26%; background-color: rgb(247, 12, 12); margin-right: 6%; margin-top: 11%;height: 364px;border-radius: 30px;float: right;">
      <img src="assets/hh.png">
      <h3 style="color: coral;font-weight: bold;margin-top: -7%;
                padding-left: 5%;font-size: 21px;">Monday 12 April 2021</h3>
      <p style="color: coral;font-size: 31px;
                padding-left: 3%;
                margin-top: -5%;">Creativity is nothing but creativity yeah that's it.</p>
      <p style="color: aquamarine;font-size: 16px;margin-left: 3%;
                margin-top: -3%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex</p>


    </div>
    <div class="bggh" style="width: 26%; background-color: rgb(247, 12, 12); margin-right: 7%; margin-top: 11%;height: 364px;border-radius: 30px;float: right;">
      <img src="assets/hh.png">
      <h3 style="color: coral;font-weight: bold;margin-top: -7%;
                padding-left: 5%;font-size: 21px;">Monday 12 April 2021</h3>
      <p style="color: coral;font-size: 31px;
                padding-left: 3%;
                margin-top: -5%;">Creativity is nothing but creativity yeah that's it.</p>
      <p style="color: aquamarine;font-size: 16px;margin-left: 3%;
                margin-top: -3%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex</p>


    </div>
    <div class="bggh" style="width: 26%; background-color: rgb(247, 12, 12); margin-right: 3%; margin-top: 11%;height: 364px;border-radius: 30px;float: right;">
      <img src="assets/hh.png">
      <h3 style="color: coral;font-weight: bold;margin-top: -7%;
                padding-left: 5%;font-size: 21px;">Monday 12 April 2021</h3>
      <p style="color: coral;font-size: 31px;
                padding-left: 3%;
                margin-top: -5%;">Creativity is nothing but creativity yeah that's it.</p>
      <p style="color: aquamarine;font-size: 16px;margin-left: 3%;
                margin-top: -3%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex</p>


    </div>
    <div class="bggh" style="width: 26%; background-color: rgb(247, 12, 12); margin-right: 6%; margin-top: 11%;height: 364px;border-radius: 30px;float: right;">
      <img src="assets/hh.png">
      <h3 style="color: coral;font-weight: bold;margin-top: -7%;
                padding-left: 5%;font-size: 21px;">Monday 12 April 2021</h3>
      <p style="color: coral;font-size: 31px;
                padding-left: 3%;
                margin-top: -5%;">Creativity is nothing but creativity yeah that's it.</p>
      <p style="color: aquamarine;font-size: 16px;margin-left: 3%;
                margin-top: -3%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex</p>


    </div>
    <div class="bggh" style="width: 26%; background-color: rgb(247, 12, 12); margin-right: 7%; margin-top: 11%;height: 364px;border-radius: 30px;float: right;">
      <img src="assets/hh.png">
      <h3 style="color: coral;font-weight: bold;margin-top: -7%;
                padding-left: 5%;font-size: 21px;">Monday 12 April 2021</h3>
      <p style="color: coral;font-size: 31px;
                padding-left: 3%;
                margin-top: -5%;">Creativity is nothing but creativity yeah that's it.</p>
      <p style="color: aquamarine;font-size: 16px;margin-left: 3%;
                margin-top: -3%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex</p>


    </div>
    <div class="bggh" style="width: 26%; background-color: rgb(247, 12, 12); margin-right: 3%; margin-top: 11%;height: 364px;border-radius: 30px;float: right;">
      <img src="assets/hh.png">
      <h3 style="color: coral;font-weight: bold;margin-top: -7%;
                padding-left: 5%;font-size: 21px;">Monday 12 April 2021</h3>
      <p style="color: coral;font-size: 31px;
                padding-left: 3%;
                margin-top: -5%;">Creativity is nothing but creativity yeah that's it.</p>
      <p style="color: aquamarine;font-size: 16px;margin-left: 3%;
                margin-top: -3%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex</p>


    </div>
    <div class="bggh" style="width: 26%; background-color: rgb(247, 12, 12); margin-right: 6%; margin-top: 11%;height: 364px;border-radius: 30px;float: right;">
      <img src="assets/hh.png">
      <h3 style="color: coral;font-weight: bold;margin-top: -7%;
                padding-left: 5%;font-size: 21px;">Monday 12 April 2021</h3>
      <p style="color: coral;font-size: 31px;
                padding-left: 3%;
                margin-top: -5%;">Creativity is nothing but creativity yeah that's it.</p>
      <p style="color: aquamarine;font-size: 16px;margin-left: 3%;
                margin-top: -3%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex</p>


    </div>
    <div class="bggh" style="width: 26%; background-color: rgb(247, 12, 12); margin-right: 7%; margin-top: 11%;height: 364px;border-radius: 30px;float: right;">
      <img src="assets/hh.png">
      <h3 style="color: coral;font-weight: bold;margin-top: -7%;
                padding-left: 5%;font-size: 21px;">Monday 12 April 2021</h3>
      <p style="color: coral;font-size: 31px;
                padding-left: 3%;
                margin-top: -5%;">Creativity is nothing but creativity yeah that's it.</p>
      <p style="color: aquamarine;font-size: 16px;margin-left: 3%;
                margin-top: -3%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex</p>


    </div>
  </div>



</div>
<app-footer ></app-footer>
</body>
</html>
