
<html>
    <head>
        <title>
            loginPage
        </title>
    </head>
    <body>
        <body background="yellow.png" background-size:80% 70%>
            <div class="lggt" align="center">
                <img src="logo.png" height="80px", width="300px">
                <h1 class="pinkone"> Sign in </h1>
                <input type="email" class="init" value="Email">
                <br>
                <br>
                <input type="password" value="Password", class="init">
                <br>
                <p>Dont have an acoount<font color="hotpink"> <a href="#">Sign up</a></font> now</p>
                <br>
                <button class="jkk">Login</button>
                <hr>
    
    
            </div>
        </body>
    </body>
</html>