<!DOCTYPE html>
<html>
<head>
<title>home page</title>
</head>
<body>
<app-header ></app-header>
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true;autoplay-interval: 1000;pause-on-hover: true;ratio: 12:3; animation: push">

  <ul class="uk-slideshow-items">
    <li>
      <img src="assets/image1.png" alt="" uk-cover>
    </li>
    <li>
      <img src="assets/image2.png" alt="" uk-cover>
    </li>
    <li>
      <img src="assets/image3.png" alt="" uk-cover>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
</div>
<h1 style="font-family: Poppins;text-align: center;padding: 80px;font-weight: bold;font-size: 50px">We offer Free Delivery here at Hello Santa</h1>
<div class="uk-panel">
  <img src="assets/Union.png" alt="">
  <div class="uk-position-center uk-panel">
    <section id="orders-container2">
      <h1 style="font-family: Poppins;text-align: center;padding: 80px;font-weight: bold;font-size: 50px">Our Beloved Range of Handmade Products</h1>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="uk-panel" style="padding-top: 50px">
  <img src="assets/Component.png" alt="">
  <div class="uk-position-center uk-panel"></div>
</div>
<div class="uk-panel" style="padding-top: 50px">
  <img src="assets/Union1.png" alt="">
  <div class="uk-position-center uk-panel">
    <section id="orders-container2">
      <h1 style="font-family: Poppins;text-align: center;padding: 80px;font-weight: bold;font-size: 50px">Our Beloved Range of Handmade Products</h1>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
      <div class="order-card2">
        <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
             alt="[[ Same as the product name ]]" class="order-img2">
        <div class="order-details2">
          <h4 class="order-title2">Digital Caricature</h4>
          <button class="order-add-to-cart2">Buy</button>
          <button class="order-add-to-cart3">Add to Cart</button>
          <div class="order-price-and-add-to-cart2">
            <p class="order-price2">₹2300</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="uk-panel" >
  <div class="box">
    <div class="inner-box" align="center">
      <div class="uk-position-center uk-panel">
        <h1 style="font-family: Poppins;text-align: center;font-weight: bolder;font-size: 50px;color: #6D5DE3;padding-top: 5%;padding-bottom: 2%">Looking for something Unique ?</h1>
        <hr style="background-color: #6D5DE3;width: 50vw;height: 5px;margin: auto;">
        <h1 style="font-family: Poppins;text-align: center;font-weight: bolder;font-size: 35px;color: #6D5DE3;padding-top: 3%;">Have some Unique products or custom designs on your mind</h1>
        <h1 style="font-family: Poppins;text-align: center;font-weight: bold;font-size: 25px;color: #ADA2FF;padding-bottom: 3%">Or confused about the right choice of gift.</h1>
        <hr style="background-color: #6D5DE3;width: 70vw;height: 2px;margin: auto;">
        <div align="center"><button>Tell us about it</button></div>
      </div>
    </div>
  </div>
</div>
<div class="uk-panel" >
  <div class="box2">
      <div class="uk-position-center uk-panel">
        <div id="container2">
          <section id="orders-container">
            <h1 style="font-family: Poppins;text-align: center;padding: 80px;font-weight: bold;font-size: 50px">--------Recommended Products--------</h1>
            <div class="order-card">
              <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                   alt="[[ Same as the product name ]]" class="order-img">
              <div class="order-details">
                <h4 class="order-title">Digital Caricature</h4>
                <p class="order-description">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Curabitur cursus tincidunt
                  commodo. Nunc justo nisi, vestibulum.</p>
                <div class="order-price-and-add-to-cart">
                  <p class="order-price">₹2300</p>
                  <button class="order-add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="order-card">
              <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                   alt="[[ Same as the product name ]]" class="order-img">
              <div class="order-details">
                <h4 class="order-title">Digital Caricature</h4>
                <p class="order-description">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Curabitur cursus tincidunt
                  commodo. Nunc justo nisi, vestibulum.</p>
                <div class="order-price-and-add-to-cart">
                  <p class="order-price">₹2300</p>
                  <button class="order-add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="order-card">
              <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                   alt="[[ Same as the product name ]]" class="order-img">
              <div class="order-details">
                <h4 class="order-title">Digital Caricature</h4>
                <p class="order-description">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Curabitur cursus tincidunt
                  commodo. Nunc justo nisi, vestibulum.</p>
                <div class="order-price-and-add-to-cart">
                  <p class="order-price">₹2300</p>
                  <button class="order-add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
            <div class="order-card">
              <img src="https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                   alt="[[ Same as the product name ]]" class="order-img">
              <div class="order-details">
                <h4 class="order-title">Digital Caricature</h4>
                <p class="order-description">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Curabitur cursus tincidunt
                  commodo. Nunc justo nisi, vestibulum.</p>
                <div class="order-price-and-add-to-cart">
                  <p class="order-price">₹2300</p>
                  <button class="order-add-to-cart">Add to Cart</button>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
</div>
<div class="uk-panel" style="padding-top: 50px">
  <img src="assets/Promo.png" alt="">
  <div class="uk-position-center uk-panel"></div>
</div>
<div class="uk-panel" >
  <div class="box3">
    <div class="inner-box3" align="center">
        <div class="uk-position-center-left uk-panel" style="width: 32vw;height: auto;">
          <a href="#"><img src="assets/Group20.png" alt=""></a>
        </div>
        <div class="uk-position-center uk-panel" style="width: 32vw;height: auto;">
          <a href="#"><img src="assets/Group19.png" alt=""></a>
        </div>
        <div class="uk-position-center-right uk-panel" style="width: 32vw;height: auto;">
          <a href="#"><img src="assets/Group18.png" alt=""></a>
        </div>
    </div>
  </div>

</div>
<app-accordion></app-accordion>
<app-footer ></app-footer>
</body>
</html>
