<!DOCTYPE html>
<html>
<head>
<title>home page</title>
</head>
<body>
<app-header ></app-header>
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true;autoplay-interval: 1000;pause-on-hover: true;ratio: 12:3; animation: push">

  <ul class="uk-slideshow-items">
    <li>
      <img src="assets/image1.png" alt="" uk-cover>
    </li>
    <li>
      <img src="assets/image2.png" alt="" uk-cover>
    </li>
    <li>
      <img src="assets/image3.png" alt="" uk-cover>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
</div>
<h1 style="font-family: Poppins;text-align: center;padding: 80px;font-weight: bold;font-size: 50px">We offer Free Delivery here at Hello Santa</h1>
<div class="uk-panel">
  <img src="assets/Union.png" alt="">
  <div class="uk-position-center uk-panel"></div>
</div>
<div class="uk-panel" style="padding-top: 50px">
  <img src="assets/Component.png" alt="">
  <div class="uk-position-center uk-panel"></div>
</div>
<div class="container">
  <div class="headings">
    <h4>related products</h4>
    <h1>People usually go crazy for these four</h1>
  </div>
  <div class="cards">
    <div class="card">
      <div class="card__ima">
        <img src="https://assets.codepen.io/2709552/1.jpg" alt="drink1" />
        <span class="card__tag">$25</span>
      </div>
      <header class="card__header">
        <h3>Moscow Mule</h3>
        <p>Straight from Russia, golden cups with its drink</p>
      </header>
      <a href="#" class="card__btn">Buy Now</a>
    </div>
    <div class="card">
      <div class="card__ima">
        <img src="https://assets.codepen.io/2709552/2.jpg" alt="drink2" />
        <span class="card__tag">$12</span>
      </div>
      <header class="card__header">
        <h3>Red Drink</h3>
        <p>Strawberry juice with sliced oranges</p>
      </header>
      <a href="#" class="card__btn">Buy Now</a>
    </div>
    <div class="card">
      <div class="card__ima">
        <img src="https://assets.codepen.io/2709552/3.jpg" alt="drink3" />
        <span class="card__tag">$35</span>
      </div>
      <header class="card__header">
        <h3>Lemon Tea</h3>
        <p>Lemons straight from Singapore Top tea</p>
      </header>
      <a href="#" class="card__btn">Buy Now</a>
    </div>
    <div class="card">
      <div class="card__ima">
        <img src="https://assets.codepen.io/2709552/4.jpg" alt="drink4" />
        <span class="card__tag">$32</span>
      </div>
      <header class="card__header">
        <h3>Morning Covfefe</h3>
        <p>You know.The day starter for everyone</p>
      </header>
      <a href="#" class="card__btn">Buy Now</a>
    </div>
  </div>
</div>
<div class="uk-panel" style="padding-top: 50px">
  <img src="assets/Component.png" alt="">
  <div class="uk-position-center uk-panel"></div>
</div>
<div class="uk-panel" style="padding-top: 50px">
  <img src="assets/Union1.png" alt="">
  <div class="uk-position-center uk-panel"></div>
</div>
<app-footer ></app-footer>
</body>
</html>
